* {
    box-sizing: border-box;
    margin: 0;
}

header nav {
    background-color: #779882;
}
nav img {
    width: 100px;
    height: 100px;
}


.lang-selekt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background-color: #F3F4EF;
}

.lang-selekt a {
    font-size: 20px;
    color: #3C3C3C;
    padding: 5px;
}

.logo-burgermenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-burgermenu a {
    padding: 2px 35px;
    color: #3C3C3C;
    font-size: 3em;
}

.hero img {
    width: 100%;
    height: auto;
}
.hero h1 {
    background-color: #779882;
    color: #F3F4EF;
    font-family: Roboto;
    font-size: 60px;
    text-align: center;
}
.hero p {
    background-color: #779882;
    color: #F3F4EF;
    font-family: roboto;
    font-size: 40px;
    text-align: center;
}